@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */

/* Style for the parent container */
.divContainer {
  text-align: center;
  margin-top: 50px;
}

/* Style for the TextField */
#outlined-basic {
  margin-bottom: 10px; /* Add some spacing below the TextField */
}

/* Style for the Buttons */
.MuiButton-containedPrimary { /* Style for the "Success" button */
  background-color: #4caf50; /* Change to your desired color */
  color: #fff; /* Change to your desired text color */
  margin-right: 10px; /* Add some spacing to the right of the button */
}

.MuiButton-outlinedError { /* Style for the "Error" button */
  border-color: #f44336; /* Change to your desired border color */
  color: #f44336; /* Change to your desired text color */
}

